<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bingo.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>bingo</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="header-name">ビンゴ</div>
            <div class="none"></div>
            <div class="menu">
                <div class="menu-tag menu-color" v-on:click="settingDisplay">
                    <p>{{menu_name}}</p>
                </div>
            </div>
        </header>
        <div class="main"> 
            <div class="setting" v-bind:style="{display:displayChange}">
                
                    <div class="max-setting">
                        <h3>ビンゴの最大の値</h3>
                        <p>{{max}}</p>
                        <input type="tel" v-model="max" v-on:input="maxInput">
                    </div>
                    

            </div>
            <div class="none"></div>
            <div class="ss-button">
                <div class="button-tag">
                    <button class="start" v-on:click="start">スタート</button>
                    <button class="stop" v-on:click="stop">ストップ</button>
                </div>
                
            </div>
            <div class="num-show">
                <div class="num">
                    <h1>{{num}}</h1>
                </div>
            </div>
            <div class="record-show">
                <div class="record">
                    <a v-for="record in records"> {{record}}, </a>
                    
                </div>
            </div>
        </div>
    </div>
    
    <script src="bingo.js"></script>
</body>
</html>