body{
    font-family:serif;
}
header{
    width: 100%;
    height: 40px;
    background-color: aquamarine;
    
}
.header-name{
    float: left;
    padding-left: 20px;

    margin-top: 7px;
}
.main{
    width: 100%;
    height: 1000px;
    padding-top: 10px;
}
.ss-button{
    width: 100%;
    text-align: center;
}
.button-tag{
    margin:0 auto;
    width: 40%;
}
.num-show{
    width: 100%;
    height: 200px;
    padding-top: 0;
}
.num{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.num h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10em;

}
.record-show{
    margin-top: 50px;
    padding-top: 0;
    height:700px;
    background-color: beige;
}
.record{
    margin-top: 5px;
    font-size: 2em;
}
.record a{
    font-weight: 100;
    color: rgb(0, 0, 0,0.6);
}
